# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media
static

# Visual Studio Code specific
.vscode/

# PyCharm specific
.idea/

# macOS specific
.DS_Store

# Python virtual environment
venv/
venv3/
__env/

# Ignore pipenv virtual environment
Pipfile
Pipfile.lock

# Ignore Heroku deployment files
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.ico
*.eot
*.ttf
*.woff
*.woff2
*.otf
*.mp4
*.webm
*.ogg
*.mp3
*.wav
*.swf
*.zip
*.tar.gz
*.gz
*.rar
*.7z
*.exe
*.msi
*.pdf
*.log
*.bak

# Environment variables file
.env